<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="zyj_1Connection" connectionString="=netstar;Data Source=127.0.0.1;User Id=root;Password=123123;"/>
    <add name="zyj_2Connection" connectionString="=netstar;Data Source=.;User Id=sa;Password=123123;"/>
  </connectionStrings>

  <appSettings>
    <add key="syscore" value="true"/>
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="On" defaultRedirect="error.html">
      <error statusCode="404" redirect="error.html" />
    </customErrors>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="NetStar.WebModule.CustomModule" name="CustomModule"/>
    </modules>

    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="text/html" />
    </staticContent>

    <defaultDocument>
      <files>
        <clear/>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>
