<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
  <!--*********Common.Logging设置*********-->
  <!--<configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="true" />
        <arg key="showDateTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy-MM-dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>-->
  <!--*********Common.Logging设置*********-->
  <connectionStrings>
    <add name="XYMsg" providerName="System.Data.SqlClient" connectionString="server=192.168.10.11;uid=sa;pwd=abc!@#123;database=SuperSite" />
    <add name="CRM" providerName="System.Data.SqlClient" connectionString="server=192.168.10.11;uid=sa;pwd=abc!@#123;database=XYDB" />
  </connectionStrings>
  <appSettings>
    <!--每隔1分钟读取消息执行推送（新项目、活动）-->
    <add key="ExePushMessageJobTime" value="1" />
    <!--发标，活动取推送时间前后的时间间隔4分钟-->
    <add key="PushTimeDiffience" value="4" />
    <!--极光推送的key和秘钥-->
    <add key="JPushKey" value="cc21c6a082695b481fdb9dfc" />
    <!--6e465bd288a39ff58a481e15-->
    <!--test: cc21c6a082695b481fdb9dfc-->
    <add key="JPushSecret" value="e088cef12bb9773751a7ed2a" />
    <!--1da601fa51e68ffc1b4b9201-->
    <!--test: e088cef12bb9773751a7ed2a-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>